<div class="form-container">
    <form action="user-index.html" class="large-form">
        <div class="field">
            <div class="element">
                <input class="element-input" type="text" placeholder="URL" autofocus />
            </div>
        </div>
        <div class="separator"><span>or</span></div>
        <div class="field">
            <div class="element">
                <input class="element-input" type="text" placeholder="Title" />
            </div>
        </div>
        <div class="field">
            <div class="element">
                <textarea class="element-textarea" placeholder="Text"></textarea>
            </div>
        </div>
        <div class="control">
            <input class="button" type="submit" value="Add" />
            <a class="button simple-button" href="user-index.html">Cancel</a>
        </div>
    </form>
</div>