<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" onerror="this.src='/js/jquery.min.js';"></script>
  </head>
  <body class="normal-page">

    <div class="nav">
        <div class="container">
            <ul>
                <li class="active"><a href="/user/index"><%= user.name ? user.name: user.email %></a></li>
                <li><a href="/text/index">Reading</a></li>
                <li><a href="/topic/index">Topics</a></li>
            </ul>
            <ul class="second">
                <li><a class="button add-button" href="/text/add">+</a></li>
            </ul>
        </div>
    </div>

    <div class="page-container">
      <div class="container">
        <%- body %>
      </div>
    </div>

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/app.css">
<!--STYLES END-->

<!--TEMPLATES-->

<!--TEMPLATES END-->

  </body>
</html>
