<!doctype html>
<html>
  <head>
    <%- partial('partials/head') %>
    <title><%- title %></title>
  </head>
  <body class="simple-page">

    <div class="container">
      <%- body %>
    </div>

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/app.css">
    <!--STYLES END-->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

  </body>
</html>