<% if (items.length > 0) { %>
<div class="text-container">
    <div class="feed-list">
        <%- partial('../partials/record_items', { items: items }) %>
    </div>
</div>
<% } else { %>
<p><%- __('Click &laquo;Read&raquo; button on topic or writer to show records.') %></p>
<p><a class="button" href="<%- apiConfig.topicIndexUrl %>"><%- __('Go to Topics') %></a></p>
<% } %>