<div class="item">
  <% if (model.get('user')) { %>
  <div class="user">
    <span class="image" style="background-image:uzrl();"></span>
    <span class="name"><a href="#user/<%= model.get('user').id %>"><%= model.get('user').name %></a></span>
  </div>
  <% } %>
  <% if (model.get('message')) { %>
  <div class="record">
    <div class="summary">
      <%= _.helpers.makeLinks(model.get('message')) %>
    </div>
  </div>
  <% } %>
  <div data-attachment-el></div>
  <% if (model.get('createdAt')) { %>
  <div class="meta">
    <span class="date"><%= model.createdAtFromNow() %></span>
  </div>
  <% } %>
</div>