<form class="form" action="" method="post">
  <input type="hidden" name="title" data-title-el />
  <input type="hidden" name="url" data-url-el />
  <input type="hidden" name="imageUrl" data-image-url-el />
  <input type="hidden" name="content" data-content-el />
  <input type="hidden" name="cuttedContent" data-cutted-content-el />

  <div class="field">
    <div class="element message-element">
      <textarea name="message" placeholder="Write thoughts or put URL here" autofocus data-message-el></textarea>
    </div>
  </div>
  <div class="attachment-container" data-attachment-container-el></div>
</form>