<div class="user-summary"><% console.log(model.attributes) %>
    <div class="image" style="background-image:url(<%= _.config.uniavUrl %>/<%= model.get('cryptedEmail') %>);"><div></div></div>
    <div class="name"><%= model.get('name') %></div>
    <div class="summary"><%= model.get('about') %></div>
    <div class="meta">
        <div class="stat">
            <div class="item">
                <div class="title">My Records</div>
                <div class="count">0</div>
            </div>
            <div class="item">
                <div class="title">My Readers</div>
                <div class="count">0</div>
            </div>
            <div class="item">
                <div class="title">I reading</div>
                <div class="count">0</div>
            </div>
        </div>
        <div class="control">
            <a class="button simple-button" href="/user/setting">Settings</a>
            <a class="button simple-button" href="/user/logout">Logout</a>
        </div>
    </div>
</div>