<div class="topic-summary">
    <div class="name"><%= model.name %></div>
    <div class="summary"><%= model.description ? model.description: '' %></div>
    <div class="meta">
        <div class="stat">
            <div class="item">
                <div class="title">Readers</div>
                <div class="count"><%- model.readersCount ? model.readersCount: '0' %></div>
            </div>
        </div>
        <div class="control">
            <a class="button trust-button" href="#">Reading</a>
            <!-- <a class="button" href="#">Read</a> -->
        </div>
    </div>
</div>