<div class="topic-summary">
    <div class="name">JavaScript</div>
    <div class="summary">Few lines of text about me.</div>
    <div class="meta">
        <div class="stat">
            <div class="item">
                <div class="title">Readers</div>
                <div class="count">100</div>
            </div>
        </div>
        <div class="control">
            <a class="button trust-button" href="#">Reading</a>
            <!-- <a class="button" href="#">Read</a> -->
        </div>
    </div>
</div>