html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #6fa8dc;
  transition: .3s;
}
a.button {
  display: inline-block;
  background: #6fa8dc;
  color: #fff;
  vertical-align: middle;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 1.6em;
  border-radius: 3px;
  transition: 0;
}
a.button.simple-button {
  background: #F8F9FA;
  color: #6fa8dc;
}
a.button.trust-button {
  background-color: #6aa84f;
}
input,
button {
  font-size: 1em;
  margin: 0;
}
input.button,
button.button {
  display: inline-block;
  background: #6fa8dc;
  color: #fff;
  vertical-align: middle;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 1.6em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
input.button.simple-button,
button.button.simple-button {
  background: #F8F9FA;
  color: #6fa8dc;
}
input.button.trust-button,
button.button.trust-button {
  background-color: #6aa84f;
}
body.normal-page {
  background: #f1f3f7;
}
body.simple-page {
  background: #fff;
}
.container {
  position: relative;
  max-width: 810px;
  margin: 0 auto;
}
.nav {
  background: #fff;
  height: 60px;
  line-height: 60px;
}
.nav a {
  color: #666666;
  display: inline-block;
}
.nav a.button {
  color: #fff;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav ul li {
  display: inline-block;
  height: 60px;
  padding: 0 15px;
}
.nav ul .active {
  border-bottom: 3px solid #cfe2f3;
  height: 57px;
}
.nav ul .active a {
  color: #434343;
}
.nav .second {
  position: absolute;
  right: 0;
  top: 11px;
  line-height: 0;
}
.nav .add-button {
  font-weight: bold;
}
.simple-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 60px;
  line-height: 60px;
  z-index: 1000;
}
.simple-nav .control {
  padding: 0 15px;
}
.simple-nav a {
  color: #666666;
  display: inline-block;
}
.page-container .container {
  padding: 30px 0;
}
.text-list .item {
  background: #fff;
  margin-bottom: 1px;
  padding: 30px 15px;
  border-radius: 3px;
}
.text-list .item .title {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #434343;
}
.text-list .item .title a {
  color: #434343;
}
.text-list .item .summary {
  margin-bottom: 15px;
  color: #666666;
  font-size: .95em;
  line-height: 1.5em;
}
.text-list .item .summary a {
  color: #666666;
}
.text-list .item:hover {
  transition: .3s;
}
.text-list .item:hover .summary {
  color: #434343;
}
.text-list .item:hover a {
  color: #6fa8dc;
}
.text-list .item:hover .topics a {
  background: #6fa8dc;
}
.text-list .meta {
  font-size: .8em;
  color: #b7b7b7;
}
.text-list .meta a {
  color: #b7b7b7;
}
.text-list .meta a:hover {
  color: #666666;
}
.text-list .meta .user {
  margin-right: 30px;
}
.text-list .meta .topics {
  margin-right: 30px;
}
.text-list .meta .topics a {
  display: inline-block;
  background: #b7b7b7;
  color: #fff;
  border-radius: 3px;
  padding: 0 .5em;
}
.text-list .meta .topics a:hover {
  background: #666666;
}
.topic-container {
  overflow: hidden;
}
.topic-list {
  overflow: hidden;
}
.topic-list .item {
  width: 168px;
  float: left;
  margin-bottom: 30px;
  text-align: center;
}
.topic-list .item .inside {
  background-color: #fff;
  margin: 0 15px;
  padding: 15px 0;
  border-radius: 3px;
}
.topic-list .item:hover {
  transition: .3s;
}
.topic-list .item:hover .title a {
  color: #6fa8dc;
}
.topic-list a.button {
  width: 60px;
}
.topic-list .title {
  font-size: 1.2em;
  color: #434343;
  margin-bottom: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.topic-list .title a {
  color: #434343;
}
.topic-list .readers-count {
  font-size: .95em;
  color: #b7b7b7;
  margin-bottom: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 810px) {
  .topic-list {
    margin: 0 -15px;
  }
}
.user-text-container .text-list {
  padding: 30px 0;
}
.user-summary {
  position: relative;
  height: 225px;
  background: #666666;
  border-radius: 3px;
  margin-bottom: 31px;
}
.user-summary .image {
  position: absolute;
  left: 50%;
  top: 15px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #fff;
}
.user-summary .name {
  position: absolute;
  left: 50%;
  top: 90px;
  width: 300px;
  margin-left: -150px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
}
.user-summary .summary {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.user-summary .meta {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
}
.user-summary .meta .control {
  position: absolute;
  right: 15px;
  top: 11px;
}
.user-summary .stat {
  overflow: hidden;
  padding: 12px 15px;
  font-size: .9em;
}
.user-summary .stat .item {
  float: left;
  padding-right: 30px;
}
.user-summary .stat .title {
  margin-bottom: 5px;
  color: #434343;
}
.user-summary .stat .count {
  font-weight: bold;
  color: #666666;
}
.topic-summary {
  position: relative;
  height: 225px;
  background: #666666;
  border-radius: 3px;
  margin-bottom: 31px;
}
.topic-summary .name {
  position: absolute;
  left: 50%;
  top: 15px;
  margin-left: -150px;
  width: 300px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 2em;
  color: #fff;
}
.topic-summary .summary {
  position: absolute;
  top: 105px;
  left: 50%;
  margin-left: -105px;
  width: 210px;
  text-align: center;
  color: #fff;
}
.topic-summary .meta {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
}
.topic-summary .meta .control {
  position: absolute;
  right: 15px;
  top: 11px;
}
.topic-summary .stat {
  overflow: hidden;
  padding: 12px 15px;
  font-size: .9em;
}
.topic-summary .stat .item {
  float: left;
  padding-right: 30px;
}
.topic-summary .stat .title {
  margin-bottom: 5px;
  color: #434343;
}
.topic-summary .stat .count {
  font-weight: bold;
  color: #666666;
}
.form-container {
  padding: 15px;
}
.large-form .field {
  margin: 30px 0;
}
.large-form .field .element input,
.large-form .field .element textarea {
  border: 1px solid #f3f3f3;
  width: 98%;
  padding: .2em 1%;
  font-size: 2em;
  font-family: sans-serif;
  background: transparent;
  color: #666666;
}
.large-form .field .element textarea {
  height: 300px;
}
.large-form .separator {
  position: relative;
  border-bottom: 1px solid #f3f3f3;
}
.large-form .separator span {
  display: block;
  position: absolute;
  left: 50%;
  top: -15px;
  width: 60px;
  margin-left: -30px;
  height: 30px;
  line-height: 30px;
  font-size: 1em;
  background-color: #fff;
  color: #b7b7b7;
  text-align: center;
  text-transform: uppercase;
}
.large-form .control input,
.large-form .control button,
.large-form .control a {
  font-size: 1.5em;
}
.text-explore-container {
  padding: 90px 15px;
}
.text-explore {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #434343;
}
.text-explore p {
  margin: 2em 0;
}
.text-explore pre {
  padding: 15px;
  margin: 0 -15px;
  background-color: #F8F9FA;
  font-family: monospace;
  overflow: auto;
  border-radius: 3px;
}
.text-explore h1,
.text-explore h2 {
  font-weight: normal;
}
.text-explore h1,
.text-explore h2,
.text-explore h3,
.text-explore h4,
.text-explore h5 {
  line-height: 1.3em;
}
